<p id="notice"><%= notice %></p>

<p>
  <b>Logradouro:</b>
  <%= @endereco.logradouro %>
</p>

<p>
  <b>Bairro:</b>
  <%= @endereco.bairro %>
</p>

<p>
  <b>Rua:</b>
  <%= @endereco.rua %>
</p>

<p>
  <b>Cidade:</b>
  <%= @endereco.cidade %>
</p>

<p>
  <b>Estado:</b>
  <%= @endereco.estado %>
</p>

<p>
  <b>Cep:</b>
  <%= @endereco.cep %>
</p>


<%= link_to 'Edit', edit_endereco_path(@endereco) %> |
<%= link_to 'Back', enderecos_path %>
